$color-black-primary: #202020;
$color-black-secondary: #5B5B5B;

$color-gray-primary: #BCBCBC;
$color-gray-secondary: #E1E1E1;
$color-gray-optional: #ECECEC;

$color-red-primary: #FF3737;
$color-red-secondary: #D13939;

$color-blue-primary: #6B98FF;
$color-blue-secondary: #5A7FD5;
$color-blue-optional: #3672FF;

$color-white: #FFFFFF;